name: ci/cd pipeline

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs: 
    build:
        runs-on: ubuntu-latest

        steps: 
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v4
              with:
                node-version: 20
                cache: npm

            - run: npm ci
            # Runs the linter
            - run: npm run lint
            # Checks typescript types
            - run: npm run check
            # Runs Tests
            - run: npm test
            - run: npm run build
    report:
        name: Teams integratie
        needs: [build]
        if: ${{always()}}
        runs-on: ubuntu-latest
        steps:
            - name: teams-webhook
              uses: FreEZer00/teams-webhook-action@v1.4.2
              with:
                  needs: ${{ toJson(needs) }}
                  job: ${{ toJson(job) }}
                  webhook_url: ${{ secrets.TEAMS_WEBHOOK }}


        

